body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.abo {
  width: 25%;
}

.bantu {
  width: 50%;
}

.coco {
  width: 25%;
}

.horse {
  max-width: 100%;
}
